@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <!-- Page Heading -->
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Users
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> @Html.ActionLink("Dashboard", "Index", new { controller = "Home" }) 
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Users
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-6">
                <h1>Users Form </h1><br />
                <form role="form">
                    <div class="form-group input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="Registration Number">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="Firstname">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="Profession">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="Role">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"></span>
                        <input type="text" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group input-group">
                        <span class="input-group-addon"></span>
                        <input type="password" class="form-control" placeholder="Password">
                    </div>
                   
                   
                    <center>
                        <button type="submit" class="btn btn-default" style="width:100px">Add </button>
                        <button type="submit" class="btn btn-default" style="width:100px">Modify </button>
                        <button type="submit" class="btn btn-default" style="width:100px">Delete </button>
                        <button type="reset"  class="btn btn-default"  style="width:100px">Reset </button>
                    </center>
                </form>
            </div>

        </div>
        <!-- /.row -->
       
    </div>
   
</div>
<!-- /.container-fluid -->
